
@{
    ViewBag.Title = "LagDashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Content page -->
<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2>Đề tài: Cửa hàng thời trang online</h2>
                <h4>Nhóm 7</h4>
                <p>Phạm Hoàng Yến - 6151071031</p>
                <p>Nguyễn Thanh Nhân - 6151071017</p>
                <p>Trà Minh Sơn - 6151071094</p>
                <p>Trần Minh Nhựt - 6151071080</p>
            </div>
        </div>
    </div>
</div>