@{
    ViewBag.Title = "Langqe Fashion Store";
    ViewBag.SeoDescription = "Langqe Fashion Store";
}
<!-- Theme color -->
<link id="switcher" href="~/Content/assets/styles/default-theme.css" rel="stylesheet">
<!-- Top Slider CSS -->
<link href="~/Content/assets/styles/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">
<!-- Main style sheet -->
<link href="styles/style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/Content/images/advertistment/signboard-3.gif" alt="Advertistment Langqe" />
                        </div>
                    </li>

                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/Content/advertistment/Visual langqe 01.png" alt="Advertistment Langqe" />
                        </div>
                    </li>

                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/Content/advertistment/visual langqe 03.png" alt="Advertistment Langqe" />
                        </div>
                    </li>
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a href="#" type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a href="#" type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->
<div class="col text-center">
    <div class="section_title new_arrivals_title">
        <h2>Danh mục hiện có</h2>
    </div>
</div>
<!-- Banner -->
@Html.Action("MenuProductCategory", "Menu")

<!-- Best Sellers -->
@Html.Action("Partial_ProductSales", "Products")
<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>Giao hàng miễn phí </h6>
                        <!--  <p>Suffered Alteration in Some Form</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6> Thanh toán khi nhận hàng </h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>Đổi trả trong 30 ngày </h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>Mở cửa mọi ngày trong tuần</h6>
                        <p>8H - 21H</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/Content/assets/styles/js/bootstrap.js"></script>
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="~/Content/assets/styles/js/jquery.smartmenus.js"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="~/Content/assets/styles/js/jquery.smartmenus.bootstrap.js"></script>
<!-- To Slider JS -->
<script src="~/Content/assets/styles/js/sequence.js"></script>
<script src="~/Content/assets/styles/js/sequence-theme.modern-slide-in.js"></script>
<!-- Product view slider -->
<script type="text/javascript" src="~/Content/assets/styles/js/jquery.simpleGallery.js"></script>
<script type="text/javascript" src="~/Content/assets/styles/js/jquery.simpleLens.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="~/Content/assets/styles/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="~/Content/assets/styles/js/nouislider.js"></script>
<!-- Custom js -->
<script src="~/Content/assets/styles/js/custom.js"></script>