@{
    ViewBag.Title = "Xác nhận đặt lại mật khẩu";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Kiểm tra email để đặt lại mật khẩu của bạn
        </p>
    </div>
</main>
